@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    left: 0px;
    top: 0px;
    right: 0px;
    margin: 0px;
    font-family: "Montserrat Medium", serif;
    font-style: normal;
}
#nav-bar{
    width: 100%;
    display: flex;
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    padding-top: 20px;
}

#top-section{
    position: relative;
    background: linear-gradient(#0A3E92, #274e8d);
    z-index: 1;
    height: 1400px;
}

#nav-bar::-webkit-scrollbar {
    display: none;
}
.card{
    margin-left: 40px;
    margin-top: 20px;
    cursor: pointer;
}
.nav-num{
    color: #2588D3;
    margin: 1px;
    font-family: "Montserrat Medium", serif;
    font-size: 48px;
}
.nav-text{
    color: #C7E0EB;
    white-space: nowrap;
    margin: 1px;
    font-family: "Montserrat ExtraBold", serif;
    font-size: 3.5em;
}
.nav-line{
    width: auto;
    height: 3px;
    background-color: white;
    margin-top: 10px;
}

#mobile-image-1 {
    width: 500px;
    position: absolute;
    margin-left: 50px;
    margin-top: 250px;
    top: 200px;
    background-color: white;
    z-index: 2;
    border-radius: 50px 50px 0px 0px;
}
.mobile-image {
    width: 600px;
    position: absolute;
    left: 300px;
    top: 300px;
    background-color: white;
    z-index: 4;
    object-fit: cover;
    transform: perspective(2000px) rotateY(180deg);
    transition-duration: 0.5s;
    backface-visibility: hidden;
    border-radius: 50px;
}
#mobile-image-2{
    transform: perspective(2000px) rotateY(0deg);
}
.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}
.slide {
    flex: 0 0 100%;
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
}
.slide-h1{
    font-size: 3.5em;
}
.slide-p{
    font-size: 2.5em;
}
#text-slider {
    width: 100%;
    height: 800px;
    background: linear-gradient(#0A3E92, #274e8d);
    position: relative;
    z-index: 3;
    overflow: hidden;
    max-width: 100%; /* Задайте желаемую максимальную ширину контейнера */
    margin: 0 auto; /* Чтобы центрировать контейнер по горизонтали */
    padding-top: 150px;
    color: white;
}